
/* --------------------- General Form Styles -------------------- */
:root {
    --BodyColor: rgb(18, 18, 18);
    --DefaultColor: rgb(28, 28, 28);
    --SelectColor: rgb(50, 50, 50);
    --ContrastColor: rgb(187, 134, 252);
    --ContrastColor: rgb(207, 154, 252);
    --TextColor: rgb(147, 147, 147);
    --HighlightTextColor: rgb(237, 237, 237);
    --DefaultBorderWidth: 0.2rem;
    --DefaultBorder: var(--DefaultBorderWidth) solid var(--BodyColor);
    --ContrastBorder: var(--DefaultBorderWidth) solid var(--ContrastColor);
}

div#form {
    display: none;
    position: absolute;
    height: 24rem;
    background-color: var(--DefaultColor);
    border: 0.1rem solid var(--ContrastColor);
    border-radius: 0.625rem;
    pointer-events: all;
    justify-self: center;
    align-self: center;
    z-index: 1000;
}

div#form-header {
    display: grid;
    grid-template-columns: 1fr 2.5rem;
    grid-template-rows: 2.5rem;
    border-top-right-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
    border-bottom: calc(var(--DefaultBorderWidth) * 2) solid var(--BodyColor);
}

div#menu-title {
    position: relative;
    grid-column: 1;
    font-size: 2rem;
    margin: auto;
    left: 1rem;
    color: var(--ContrastColor);
    height: fit-content;
}

div#form-header > div#close-menu {
    cursor: pointer;
    color: var(--ContrastColor);
    font-size: 1.75rem;
    border-top-right-radius: 0.625rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

div#form-header > div#close-menu:hover {
    background-color: var(--SelectColor);
}

div#formwrapper > * > * {
    outline: none;
    padding: 0px;
}

div#formwrapper > * > label {
    color: var(--HighlightTextColor);
    width: fit-content;
}

div#formwrapper > * > input {
font-size: 1rem;
color: var(--BodyColor);
border-top-width: 0rem;
border-left-width: 0rem;
}

.form-button {
    border: var(--ContrastBorder);
    cursor: pointer;
    border-top-width: 0.1rem;
    border-left-width: 0.1rem;
    border-radius: 0.625rem;
    width: 6rem;
    color: var(--ContrastColor);
    font-size: 1.4rem;
    background-color: var(--DefaultColor);
}

.form-button:hover {
    background-color: var(--SelectColor);
}

p#error-msg, p#reg-error-msg  {
    grid-column: 1/3;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    color: red;
    margin: 0px;
    height: 2.82rem;
}