:root {
    --BodyColor: rgb(18, 18, 18);
    --DefaultColor: rgb(28, 28, 28);
    --SelectBrightColor: rgb(50, 50, 50);
    --SelectColor: rgb(35, 35, 35);
    --ContrastColor: rgb(187, 134, 252);
    --TextColor: rgb(147, 147, 147);
    --HighlightTextColor: rgb(237, 237, 237);
    --DefaultBorderWidth: 0.2rem;
    --DefaultBorder: var(--DefaultBorderWidth) solid var(--BodyColor);
    --ContrastBorder: var(--DefaultBorderWidth) solid var(--ContrastColor);
}

    
* {
    box-sizing: border-box;
}

.small-font {
    font-size: 1.5em;
}

.medium-font {
    font-size: 2.5rem;
}

.large-font {
    font-size: 5rem;
}

.giant-font {
    font-size: 10rem;
}


.text-white {
    color: white;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.2rem 1fr;
}

header {
    grid-row: 1;
    background-color: var(--DefaultColor);
    display: grid;
    grid-template-columns: 1fr 3.125rem;
    grid-template-rows: 3.2rem;
    justify-items: end;
}

div#loginwrapper {
    grid-column: 2;
    position: relative;
    cursor: pointer;
    height: 3.2rem;
    width: 3.2rem;
    display: grid;
    align-items: center;
    justify-items: center;
}

img#login-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

main {
    grid-row: 2;
    display: grid;
    height: 100%;
    background-color: var(--BodyColor);
}

#main-text-wrapper {
    cursor: default;
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: var(--ContrastColor);
    text-align: left;
    font-family: Garamond;
    align-self: center;
    justify-self: center;
}

#sub-main-text {
    position: relative;
    width: fit-content;
}   

div#mainwrapper {
    width: 100vw;
    height: calc(100vh - 3.125rem);
}


div.background-gradient {
    background-color: var(--BodyColor);
    display: grid;
}

#sub-secondary-text {
   width: fit-content;
}

#secondary-text-wrapper {
    scale: 0;
    cursor: default;
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: var(--ContrastColor);
    text-align: center;
    font-family: Garamond;
    align-self: center;
    justify-self: center;

}

div.testss {
    position: absolute;
    bottom: 3.125rem;
}