form#register {

    display: none;
    grid-template-columns: 6rem auto;
    grid-template-rows: repeat(5, 1.4rem) max-content max-content;
    column-gap: 0.2rem;
    row-gap: 1.1rem;
    width: 23.44rem;
    margin: auto;
    margin-top: 1.25rem;
}

form#register > label {
    grid-column: 1;
    text-align: left;
    font-size: 1.2rem;
    padding-left: 0.625rem;
}

form#register > input {
    grid-column: 2;
    text-align: left;
    border: 0.2rem solid var(--BodyColor);
    border-top: 0rem solid var(--BodyColor);
    border-left: 0rem solid var(--BodyColor);
    padding-left: 0.3125rem;
    width: 16.5rem;
    margin: auto;
}
form#register > p#error-wrapper {
    grid-column: 1/3;
    grid-row: 6;
}

form#register > button {
    grid-column: 1/3;
    grid-row: 7;
    justify-self: center;
}