:root {
    --BorderColor: rgb(100, 39, 100);
    --PlusColor: rgb(111, 39, 111); 
}

* {
    box-sizing: border-box;
}
body {
    position: inherit;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(119, 37, 119, 1) 15%, rgb(207, 63, 207, 1) 85%);    
}

div#outsidewrapper {
    display: grid;
    grid-template-columns: repeat(5, 306px);
    grid-template-rows: 50px repeat(2, calc(50vh - 6px - 20px - 25px));
    column-gap: 20px;
    row-gap: 20px;
}
div#header {
    grid-column: 1 / 7;
    grid-row: 1;
    display: flex;
    flex-wrap: nowrap;
}

div#filler {
    position: relative;
    width: 100%;
    height: 3.125rem;
    float: left;
}

div#profilewrapper {
    width: fit-content;
    display: grid;
    grid-template-columns: auto 46px;
    grid-template-rows: 50px auto;
    align-items: center;
}


span#username {
    grid-column: 1;
    grid-row: 1;
    height: fit-content;
    color: white;
    margin-right: 0.25rem;
}
img#user-img {
    grid-column: 2;
    grid-row: 1;
    float: right;
    width: 2.5rem;
    height: 2.5rem;
    border: 0.0625rem solid var(--BorderColor);
    border-radius: 50%;
    margin-right: 0.25rem;
}

div#pr-options {
    grid-column: 1 / 3;
    grid-row: 2;
    font-size: 1.15rem;
    display: none;
    position: relative;
    background-color: white;
    border: 1.5px solid var(--BorderColor);
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: 2;
}

div#pr-options > ul {
    padding: 0rem;
    padding-right: 0.25rem;
    list-style-type: none;
    margin: 0rem;
}

div#pr-options > ul > li {
    text-align: right;
    line-height: 1.7rem;
}

div#pr-options > ul > li > a {
    text-decoration: none;
    color: black;
}

div#side-menu {
    display: grid;
    grid-column: 1;
    grid-row: 2 / 4;
    border: 3px solid var(--BorderColor);
}
div#dbwrapper {
    position: relative;
    --width: 300px;
    --height: calc(50vh - 6px - 20px - 31px); 
    grid-column: 2 / 6;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: repeat(4, calc(var(--width) + 6px));
    grid-template-rows: repeat(2, calc(50vh - 6px - 20px - 25px));
    gap: 20px;
}
div#addDB {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    width: var(--width);
    height: var(--height);
    border: 3px solid var(--BorderColor);
    border-radius: 15px;
    cursor: pointer;
}
div#vert-line {
    position: relative;
    margin: auto;
    border: 1px solid var(--PlusColor);
    border-radius: 50%;
    top: calc(var(--height) - 50% - 5px - (calc(var(--width) /  2) / 2));
    width: 5px;
    height: calc(var(--width) / 2);
    background-color: var(--PlusColor);
}

div#horz-line {
    position: relative;
    margin: auto;
    border: 1px solid var(--PlusColor);
    border-radius: 50%;
    top: calc(var(--height) - 50%);
    width: calc(var(--width) / 2);
    height: 5px;
    background-color: var(--PlusColor);
}

div#database1 {
    grid-column: 2;
    grid-row: 1;
    width: var(--width);
    height: var(--height);
    border: 3px solid var(--BorderColor);
    border-radius: 7%;
    
}
div#database2 {
    grid-column: 3;
    grid-row: 1;
    width: var(--width);
    height: var(--height);
    border: 3px solid var(--BorderColor);
    border-radius: 7%;
    
}
div#database3 {
    grid-column: 4;
    grid-row: 1;
    width: var(--width);
    height: var(--height);
    border: 3px solid var(--BorderColor);
    border-radius: 7%;
    
}
div#database4 {
    grid-column: 1;
    grid-row: 2;
    width: var(--width);
    height: var(--height);
    border: 3px solid var(--BorderColor);
    border-radius: 7%;
}
div#database5 {
    grid-column: 2;
    grid-row: 2;
    width: var(--width);
    height: var(--height);
    border: 3px solid var(--BorderColor);
    border-radius: 7%;
    
}
div#database6 {
    grid-column: 3;
    grid-row: 2;
    width: var(--width);
    height: var(--height);
    border: 3px solid var(--BorderColor);
    border-radius: 7%;
    
}
div#database7 {
    grid-column: 4;
    grid-row: 2;
    width: var(--width);
    height: var(--height);
    border: 3px solid var(--BorderColor);
    border-radius: 7%;
}

div#form {
    display: none;
    position: absolute;
    top: 20vh;
    margin-left: calc(((1680px - 500px) / 2));
    width: 500px;
    height: fit-content;
    background-image: linear-gradient(to bottom right, rgb(119, 37, 119, 1) 15%, rgb(207, 63, 207, 1) 85%);
    border: 3px solid var(--BorderColor);
    border-radius: 15px;
    pointer-events: all;
}

div#form > * {
    pointer-events: all;
}

div#form-header {
    display: grid;
    grid-template-rows: 43px;
    grid-template-columns: calc(500px - 43px) 43px;
    height: 40px;
    border-bottom: 3px solid var(--BorderColor);
}

div#menu-title {
    position: relative;
    grid-column: 1;
    font-size: 35px;
    margin: auto;
    left: 15px;
    color: white;
    height: fit-content;
}

#close-menu {
    grid-column: 2;
    position: relative;
    width: 40px;
    height: 40px;
    float: right;
    border-bottom: 3px solid var(--BorderColor);
    border-left: 3px solid var(--BorderColor);
    border-bottom-left-radius: 50%;
    
}

span#x {
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    color: var(--PlusColor);
    top: 5px;
    left: 10px; 
}

#login, #create-DB {
    position: relative;
    width: fit-content;
    margin: auto;
}

#login > *, #create-DB > * {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 250px;
}

div#usernamewrapper, div#passwordwrapper {
    height: 59.5px;
    margin-top: 10px;
}

div#DB-name-wrapper {
    height: 50px;

}

div#usernamewrapper > *, div#passwordwrapper > *, 
div#DB-name-wrapper > *, div#collation-selector-wrapper > * {
    outline: none;
    border: none;
}

div#usernamewrapper > input, div#passwordwrapper > input,
div#DB-name-wrapper > input, div#collation-selector-wrapper > select {
    width: 250px;
}

#login > div > label,
#create-DB > div > label {
    font-size: 30px;
    color: white;
}

#login > div > input#username, 
#login > div > input#password,
#create-DB > div > input#DB-name,
#create-DB > div > select#collation-selector {
    margin-bottom: 3px;
}

#login > div > button,
#create-DB > div > button {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 3px solid var(--BorderColor);
    border-right: 3px solid var(--BorderColor);
    border-top: transparent;
    border-left: transparent;
    border-radius: 5px;
    width: fit-content;;
     color: rgb(207, 63, 207);
     font-size: 17px;
     background-color: white;
}

#login > div > .login {
    float: left;
    left: 35px;
}

#login > div > .register {
    float: right;
    right: 35px;
}

#create-DB >div > .create {
    float: center;
}

#create-DB > div > select {
    background-color: white;
}
