main.tableStructureForm {
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 1fr;
    row-gap: calc(var(--DefaultBorderWidth) * 2);
}

#structure-form-wrapper {
    height: 100%;
}

form#table-structure {
    background-color: var(--DefaultColor);
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3.5rem;
}

#tbl-structure-menu > :last-child {
    border-top-right-radius: 0.6rem;
}


table#structure-table {
    border-collapse: collapse;
}

form#table-structure th {
    background-color: var(--DefaultColor);
    color: var(--HighlightTextColor);
}

form#table-structure td {
    background-color: var(--DefaultColor);
    text-align: center;
}

form#table-structure th, form#table-structure td {
    padding: 0.5rem;
    border: 0.1rem solid var(--BodyColor);
}

table#structure-table {
    width: 100%;
}

#structure-form-footer {
    grid-template-columns: auto 10rem 1fr;
    color: var(--HighlightTextColor);
}

#structure-form-footer > label {
    width: 5.1rem;
}

#structure-form-footer > input {
    padding-left: 0.4rem;
    color: var(--HighlightTextColor);
}

#structure-form-footer button {
    grid-column: 3;
    justify-self: end;
}