main.displayTable {
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 1fr;
    row-gap: calc(var(--DefaultBorderWidth) * 2);
}
#tbl-option-list {
    display: none;
    grid-row: 2;
    grid-column: 3;
    z-index: 1;
}

div#tbl-display-content {
    height: 100%;
    grid-column: 1;
    grid-row: 2;
    background-color: var(--DefaultColor);
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    overflow: scroll;
}

table#tabledisplay {
    border: 0.1rem solid var(--ContrastColor);
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
    color: var(--TextColor);
}

table#tabledisplay .tbl-content-row:hover {
    background-color: var(--SelectColor);
}

table#tabledisplay > * > tr.tbl-header-row > th {
    padding: 0.5rem;    
    color: var(--HighlightTextColor);
    border-right: 0.1rem solid var(--ContrastColor);
}

table#tabledisplay > * > * > td {
    padding: 0.1rem;
    border-right: 0.1rem solid var(--ContrastColor);
    border-top: 0.1rem solid var(--ContrastColor);
    text-overflow: ellipsis;
}