main.displayTable {
    grid-template-columns: auto;
    grid-template-rows: auto;
}

main.displayTable > * {
    min-width: 15rem;
}

#table-display-wrapper {
    width: fit-content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2rem 2rem auto 2rem 1fr;
    row-gap: calc(var(--DefaultBorderWidth) * 2);
}

#table-display-wrapper > #display-table-menu {
    grid-row: 1;
    grid-template-columns: repeat(3, auto) 1fr;
    color: var(--TextColor);
    font-size: 1.2rem;
}

#table-display-wrapper > #display-table-menu > :last-child {
    border-right: 0.2rem solid var(--BodyColor);
}

.opt-selected {
    background-color: var(--SelectColor);
    color: var(--HighlightTextColor);
}

.tbld-option-img {
    grid-column: 1;
    justify-self: center;
    width: 1rem;
    height: 1rem;
}

.tbld-option-text {
    grid-column: 2;
    padding-right: 0.2rem;
}

#table-display-wrapper .tbl-display-options {
    width: 100%;
    height: 100%;
    border-left: 0.2rem solid var(--BodyColor);
    display: grid;
    grid-template-columns: 1.5rem auto;
    column-gap: 0.2rem;
    align-items: center;
}

#table-display-wrapper .tbl-display-options:hover {
    color: var(--HighlightTextColor);
    cursor: pointer;
}

#table-display-wrapper > #table-menu {
    grid-row: 2;
    display: grid;
    height: 2rem;
    grid-template-columns: 1fr auto;
    grid-template-rows: 2rem;
    background-color: var(--DefaultColor); 
    justify-items: center;
    align-items: center;
}

div#table-menu > * > img {
    width: 1rem;
    height: 1rem;
}

div#table-menu > div#title {
    font-size: 1.8rem;
    color: var(--ContrastColor);
    grid-row: 1;
    grid-column: 1;
}

div#table-menu > div#title > input {
    padding: 0rem;
    font-size: 1.4rem;
    width: 100%;
}

#tbl-option-list {
    display: none;
    grid-row: 2;
    grid-column: 1 / 3;
    z-index: 1;
    min-width: 8rem;
    justify-self: end;
}

div#tbl-display-content {
    height: fit-content;
    grid-column: 1;
    grid-row: 3;
    background-color: var(--DefaultColor);
    border: 0.1rem solid var(--ContrastColor);
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    overflow: scroll;
}

table#tabledisplay {
    border-collapse: collapse;
    width: 100%;
    color: var(--TextColor);
}

table#tabledisplay tr:last-of-type {
    border-bottom: none;
}

table#tabledisplay .tbl-content-row:hover {
    background-color: var(--SelectBrightColor);
}

table#tabledisplay tr {
    border-bottom: 0.1rem solid var(--ContrastColor);
}

table#tabledisplay tr.tbl-header-row > th {
    padding: 0.5rem;    
    color: var(--HighlightTextColor);
    border-right: 0.1rem solid var(--ContrastColor);
}

table#tabledisplay tr.tbl-header-row > th > div {
    display: grid;
    grid-template-columns: auto 1rem;
    grid-template-rows: 1rem;
    column-gap: 0.5rem;
} 

table#tabledisplay tr.tbl-header-row > th > div > img.commentIconImg {
    position: relative;
    width: 1rem;
    height: 1rem;
    float: right;
}


table#tabledisplay td {
    padding: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-right: 0.1rem solid var(--ContrastColor);
}

table#tabledisplay .tblEditOptions {
    width: 1.7rem;
    height: 1.7rem;
}

table#tabledisplay .tblEditOptions > .tblOptionsWrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
}

table#tabledisplay .tblEditOptions img {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

img.primary-key {
    width: 0.75rem;
    height: 1.18rem;
    padding-left: 0.2rem;
    float: right;
}

div#comment-box {
    z-index: 2;
    position: absolute;
    display: none;
    overflow-wrap: break-word;
    word-break: break-word;
    align-items: center;
    justify-items: center;
    padding: 0.5rem;
    min-width: 10rem;
    max-width: 20rem;
    width: fit-content;
    min-height: 2rem;
    height: fit-content; 
    background-color: var(--DefaultColor);
    border: 0.1rem solid var(--ContrastColor);
    border-radius: 0.625rem;
    border-top-left-radius: 0rem;
    color: var(--HighlightTextColor);
}