main.tableList {
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 1fr;
    row-gap: calc(var(--DefaultBorderWidth) * 2);
}

#tbl-list-menu > :last-child {
    border-top-right-radius: 0.6rem;
}

#list-wrapper {
    background-color: var(--DefaultColor);
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    overflow: scroll;
}

#list-wrapper > :first-child {
    border-top: none;
}

#tbl-list-info {
    width: 100%;
    height: fit-content;
    font-size: 1rem;
    color: var(--HighlightTextColor);
    padding-left: 0.2rem;
}

.list-item-wrapper {
    border-top: var(--DefaultBorder);
    color: var(--TextColor);
    cursor: pointer;
    display: grid;
    grid-template-rows: 5.5rem;
    grid-template-columns: 12rem auto;
}

.list-item-wrapper:hover {
    background-color: var(--SelectBrightColor);
}

.list-item-wrapper:hover > .list-item {
    color: var(--ContrastColor);
}

.list-item {
    border-right: var(--DefaultBorder);
    height: 100%;
    width: 12rem;
    color: whitesmoke;
    display:flex;
    align-items: center;
    font-size: 2rem;
}

.list-item-wrapper > .tblOptionsWrapper {
    display: grid;
    grid-template-rows: 2rem auto;
    grid-template-columns: 6rem auto;
}

.list-item-wrapper > .tblOptionsWrapper div {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1.5rem auto;
    border-bottom: 0.15rem solid var(--BodyColor);
    border-right: 0.15rem solid var(--BodyColor);
}

.list-item-wrapper > .tblOptionsWrapper > #drop-table:hover {
    color: var(--HighlightTextColor);
    text-decoration: underline var(--ContrastColor);
}

.list-item-wrapper > .tblOptionsWrapper img {
    width: 1.5rem;
    height: 1.5rem;
}
