main.displayTable {
    grid-template-columns: auto;
    grid-template-rows: auto;
}

main.displayTable > * {
    min-width: 15rem;
}

#table-display-wrapper {
    width: fit-content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2rem auto;
    row-gap: calc(var(--DefaultBorderWidth) * 2);
}

#tbl-option-list {
    display: none;
    grid-row: 2;
    grid-column: 3;
    z-index: 1;
    min-width: 8rem;
}

div#tbl-display-content {
    height: fit-content;
    grid-column: 1;
    grid-row: 2;
    background-color: var(--DefaultColor);
    border: 0.1rem solid var(--ContrastColor);
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    overflow: scroll;
}

table#tabledisplay {
    border-collapse: collapse;
    width: 100%;
    color: var(--TextColor);
}

table#tabledisplay tr:last-of-type {
    border-bottom: none;
}

table#tabledisplay .tbl-content-row:hover {
    background-color: var(--SelectColor);
}

table#tabledisplay tr {
    border-bottom: 0.1rem solid var(--ContrastColor);
}

table#tabledisplay tr.tbl-header-row > th {
    padding: 0.5rem;    
    color: var(--HighlightTextColor);
    border-right: 0.1rem solid var(--ContrastColor);
}

table#tabledisplay tr.tbl-header-row > th > div {
    display: grid;
    grid-template-columns: auto 1rem;
    grid-template-rows: 1rem;
    column-gap: 0.5rem;
} 

table#tabledisplay tr.tbl-header-row > th > div > img.commentIconImg {
    position: relative;
    width: 1rem;
    height: 1rem;
    float: right;
}


table#tabledisplay td {
    padding: 0.1rem;
    padding-left: 0.2rem;
    border-right: 0.1rem solid var(--ContrastColor);
}

table#tabledisplay .tblEditOptions {
    width: 1.7rem;
    height: 1.7rem;
}

table#tabledisplay .tblEditOptions > .tblOptionsWrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
}

table#tabledisplay .tblEditOptions img {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

div#comment-box {
    z-index: 2;
    position: absolute;
    display: none;
    align-items: center;
    justify-items: center;
    padding: 0.5rem;
    min-width: 10rem;
    max-width: 20rem;
    width: fit-content;
    min-height: 2rem;
    height: fit-content; 
    background-color: var(--DefaultColor);
    border: 0.1rem solid var(--ContrastColor);
    border-radius: 0.625rem;
    border-top-left-radius: 0rem;
    color: var(--HighlightTextColor);
}